// Footer-related styling
@import "@fortawesome/fontawesome-free/css/all.css";

$black-color: #181b20;
$purple-color: #7585ff;

.footerContainer {
  background-color: $black-color;
  padding: 20px;
  display: flex;
  justify-content: center;
  h2 {
    color: white;
    font-size: 1em;
  }
  ul {
    list-style-type: none;
  }
  .icon {color: blue;}
  a {
    color: $purple-color;
    text-decoration: none;
  }
}
